---
layout: base-layout.njk

---
{# Google maps javascript code. #}
<script>
    var lat = 0;
    var long = 0;
    // Initialize and add the map
    function initMap() {
        // The location of dunedin
        const dunedin = { lat: -45.855874, lng: 170.514675 };
        // The map, centered at Dunedin
        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 10,
            center: dunedin,
        });
        // The marker, positioned at dunedin
        {# const marker = new google.maps.Marker({
            position: dunedin,
            map: map,
        }); #}

        google.maps.event.addListener(map, 'click', function(event) {
            placeMarker(map, event.latLng);
            console.log(lat, long);
        });
        


    }
    function placeMarker(map, location) {
            var marker = new google.maps.Marker({
                position: location,
                map: map
            });
            var infowindow = new google.maps.InfoWindow({
                content: 'Latitude: ' + location.lat() +
                '<br>Longitude: ' + location.lng()
            });
            //Saving long and lat values to a variable for use later
            lat = location.lat(); 
            long = location.lng();
            infowindow.open(map,marker);
        }
   
    function submit(){
        console.log("Submitted");
    }
</script>


<div class="content">
    <h1 class ="text-center">Order Your Drone Dillivery Today!!</h1>
</div>

<div class="content">
    <h3 class="text-center">Find your Dillivery location</h3>
    <div id="map"></div>
    <div class = "buttons">
        <button id="submit" type="button" class="btn btn-success" onclick="submit()" >Submit</button>
        <button type="button" class="btn btn-danger"><a href="/"> Cancel </a></button>
    </div>


    <script async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVLI9wFnb6fArTFeo7sOGpTS__C8yANHs&callback=initMap">
    </script>
</div>

