---
layout: base-layout.njk

---
<div class="content">
    <h1 class ="text-center">Order Your Drone Dilivary Today!!</h1>
</div>
{# Google maps javascript code. #}
<script>
    // Initialize and add the map
    function initMap() {
    // The location of dunedin
    const dunedin = { lat: -45.8966, lng: 170.4631 };
    // The map, centered at Dunedin
    const map = new google.maps.Map(document.getElementById("map"), {
        zoom: 4,
        center: dunedin,
    });
    // The marker, positioned at dunedin
    const marker = new google.maps.Marker({
        position: dunedin,
        map: map,
    });
    }
</script>
<body>
    <h3>My Google Maps Demo</h3>
    <!--The div element for the map -->
    <div id="map"></div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script async
    src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap">
</script>
</body>

